# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/


### If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

## VisualStudioCode ###
.vscode
!.vscode/settings.json

## Misc ##
build/
.metals/
.idea/
node_modules/